
*{
font-family: system-ui;
}
/* .sortingrangearea{
    height: 85vh;
    position:relative;
    height:100%;
 
} */
/* .addArray{
    position:absolute;
    top:0;
    left:0;
} */
/* .sorting_container Button{
    background-color: black;
    color: white;
    border-radius: 5%;
} */
/* .sortingrangearea{
    min-height:85vh;
} */

.breakFlexWithMe{
display:none;
}
 @media only screen and (max-width: 600px) {
 .shuffle_sort{
  order:4;


} 
.breakFlexWithMe{
  order:3;
  display:block;
    flex: 0 0 100%;
}
.value_range{
order:1;

}
.sortalgos {
order:2;

}
.sort_visualise{
  order:5;
  

}
.sort_visualise,.shuffle_sort{
margin-bottom:10px;
}
}
.rangeVertical{
    border: 1px solid black;
    border-radius: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     width: 50px;
    height: 140px;
    background-color: #737373;
    overflow: hidden;
}
.rangeVertical input{
    flex-grow: 1;
    width: 100px;
   
   
}
.rangeVertical div{
    text-align: center;
}

.sortingarea{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color:rgb(233, 233, 240) ;
    min-height:85vh;
}
.sortingarea .barsArea{
    min-height:65vh;
}


.toSlideContainer{
overflow: 'hidden';
transition: 'width 1s';
}
.hiddenToSlide{
width:0;
}
.visibleToSlide{
width:100%;
}



.toggle{
    position: relative;
    display: inline-block;
    width: 28px;
    height: 13px;
    padding: 0px;
    border-radius: 30px;
        
       
            
}
.toggleHelper{
    cursor: pointer;
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #1a75ff;
    top: -3px;
    transition: all 0.5s;
}
.toggle input{
        display: none;
}
@media only screen and (max-width: 500px) {
.rangeVertical input{
    width:70px;
}
.rangeVertical{
    height:110px;
}

}
@media only screen and (max-width: 550px) {

table .mightVanish{

        display:none;
     
    
}
}


@media only screen and (max-width: 410px) {
.rangeVertical{
    font-size:0.8rem;
}
}
@media only screen and (max-height: 400px) {
.rangeVertical input{
    width:70px;
}
.rangeVertical{
    height:110px;
}
}